<footer class="footbar">
    <div class="foot_info">
        <i class="fa-solid fa-phone"></i> 010-3923-6162
    </div>
    <div class="foot_info">
        <i class="fa-solid fa-location-pin"></i> 대구광역시 북구 산격동 1412-4번지 2층
    </div>
    <div class="foot_info">
        <i class="fa-solid fa-envelope"></i> mysteryBook@mail.com
    </div>
</footer>