<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추리소설 소모임</title>
    <%- include('layouts/scripts.ejs'); -%>
        <script src="./js/index.js"></script>
        <link rel="stylesheet" href="./css/default.css">
        <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <%- include('layouts/navbar.ejs'); -%>
        <div class="contents">
            <div class="window">
                <div class="front">
                    <div class="title">
                        <h2>소모임 활동 스케줄</h2>
                    </div>
                    <hr />
                    <span>저희 모임은 매 월 셋째 주 토요일 오전 11시에 활동합니다. <br> 많은 참석 부탁드립니다.</span>
                </div>
                <div class="back">
                    <img src="./images/back1.png" alt="back1" class="img now1 one">
                    <img src="./images/back2.png" alt="back2" class="img now2 two">
                    <img src="./images/back3.png" alt="back3" class="img now3 three">
                </div>
            </div>
        </div>

        <%- include('layouts/footer.ejs'); -%>
</body>

</html>